<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.food4fit.food4fit">

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="br.com.food4fit.Food4fitApp"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.com.vansuita.pickimage.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/picker_provider_paths" />
        </provider>
        <receiver android:name="br.com.food4fit.broadcast.SetAlarmReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>

        <service
            android:name="br.com.food4fit.account.AuthenticatorService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <receiver android:name="br.com.food4fit.broadcast.AlarmReceiver" />

        <activity
            android:name="br.com.food4fit.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.com.food4fit.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="br.com.food4fit.CadastrarDietaActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_cadastrar_dieta"
            android:parentActivityName="br.com.food4fit.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.food4fit.MainActivity" />
        </activity>
        <activity
            android:name="br.com.food4fit.DietaActivity"
            android:label="@string/title_activity_dieta"
            android:launchMode="singleTop"
            android:parentActivityName="br.com.food4fit.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.food4fit.MainActivity" />
        </activity>
        <activity
            android:name="br.com.food4fit.CadastrarRefeicaoActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_cadastrar_refeicao"
            android:parentActivityName="br.com.food4fit.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.food4fit.MainActivity" />
        </activity>
        <activity
            android:name="br.com.food4fit.RefeicaoActivity"
            android:label="@string/title_activity_refeicao"
            android:parentActivityName="br.com.food4fit.DietaActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.food4fit.DietaActivity" />
        </activity>
        <activity
            android:name="br.com.food4fit.CadastrarAlimentoActivity"
            android:label="@string/title_activity_cadastrar_alimento"
            android:parentActivityName="br.com.food4fit.RefeicaoActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.food4fit.MainActivity" />
        </activity>
    </application>

</manifest>